In [4]:
# Loading required package

import boto3
from io import BytesIO
import pandas as pd

In [14]:
# you need to change the credentials for yourself

s3 = boto3.client('s3',
                  aws_access_key_id='ASIAYAAO5HRMJHDILWNT',
                  aws_secret_access_key='CN1z6wYrYTibZW8HJafeD4zCRFcAM0ol/3M9FooB',
                  aws_session_token='IQoJb3JpZ2luX2VjEJT//////////wEaCXVzLWVhc3QtMiJIMEYCIQC4ORR7q+byMyboudWZqfdXHEWDklUc2d+okj9wiXgYRAIhAKfPhB3cxvpC2bkDCUICorXf0kAE/f9QtlZTLqtgoo3CKvQCCM3//////////wEQABoMNTQ5Nzg3MDkwMDA4IgxD3116qLSt9XxDP4AqyAKAEqY1sCmWPc9Obgy3bABAZWk3bM8cpRmDeDaiLRMBbrCjYs1TUZvhcnYuU3Uh2I6hBFIkIWoe/lhg7nKvj/djtevFykDCyUsh6RjRBcoIPPGI9aNLjHS5LQaeudn2kE//26WX9sd6zpWexPe09bPHKbPAquv+QYHGdJAGNmFdJJCp6VKSVGgH3sXJS5gQXCfApdWgLi91F5QfZdqwxFzaR1DiF528x0e/6QXQxQyiosFtyWPc3lyRTBQpEO0Q9IarAakNsIhT9MZUDVg9W25xVBSCaFCoar0qx2mzXUaWPDhCnUrNOKoRuH8kBOdlWl3/WeYtQYZEqx2OGIH68+hE7xRtLPGMCbtTnTRVy5b+tj4uBWVSoCPHR2Gs2q25Lq8sJI5bRmIw9coFn6T0TRjarhWp/yN7T4vYUPOSPY+XERLYkAsd4tKFMP2L/bAGOqYB/2aY6Yd6THzzaF5M0aCadX1oPpPRrRK39TqCC4aeG8sdEinboDXAuaSBVR6VjEIUDoTTugwwDVQtkFTSfZ8FIOLELPnYZ/BQ8MhDe02Z6W7gVqUBdwTSsb3giEcsHCw5iUU/wxoEtdV+HITS2nwZhHoJ3agtFZQ+8u9fQGy3hpi4aId9AxPjZlSHVFMn4n8PdakR4ojxUj/foYy4I+In+dH3CYwvSg==')


bucket_name = 'de300spring2024'
object_key = 'amiin/sample_dataset.csv'

In [15]:
csv_obj = s3.get_object(Bucket=bucket_name, Key=object_key)
body = csv_obj['Body']
csv_string = body.read().decode('utf-8')

In [16]:
df = pd.read_csv(BytesIO(csv_string.encode()))
print(df.head())

   ID           Name  Age         City
0   1       John Doe   28     New York
1   2     Jane Smith   32  Los Angeles
2   3    Emily Davis   45      Chicago
3   4  Michael Brown   22        Miami