In [ ]:
!pip install psycopg2-binary

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x76598a77d510>: Failed to establish a new connection: [Errno 101] Network is unreachable')': /simple/psycopg2-binary/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x76598a7b0950>: Failed to establish a new connection: [Errno 101] Network is unreachable')': /simple/psycopg2-binary/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x76598a778890>: Failed to establish a new connection: [Errno 101] Network is unreachable')': /simple/psycopg2-binary/

In [ ]:
import pandas as pd

import xml.etree.ElementTree as ET
import psycopg2
#required for navigating machine's directory
import glob
# import os.path
import glob
import os

#required for communicating with SQL database
from sqlalchemy import create_engine

from utilities import insert_to_table

In [3]:
conn_string  = "postgresql://myuser:mypassword@postgres-container/mydatabase"
rawdata_path = "../rawdata/"
staging_data_dir = '../staging_data'

# E: Extracting data from multiple sources

In [4]:

"""
extract from a given file type: csv, json, xml
"""

def extract_from_csv(file_to_process: str) -> pd.DataFrame:
    dataframe = pd.read_csv(file_to_process)
    return dataframe

def extract_from_json(file_to_process: str) -> pd.DataFrame:
    dataframe = pd.read_json(file_to_process,lines=True)
    return dataframe

def extract_from_xml(file_to_process: str) -> pd.DataFrame:
    dataframe = pd.DataFrame(columns = columns)
    tree = ET.parse(file_to_process)
    root = tree.getroot()
    for person in root:
        car_model = person.find("car_model").text
        year_of_manufacture = int(person.find("year_of_manufacture").text)
        price = float(person.find("price").text)
        fuel = person.find("fuel").text
        sample = pd.DataFrame({"car_model":car_model, "year_of_manufacture":year_of_manufacture, "price":price, "fuel":fuel}, index = [0])
        dataframe = pd.concat([dataframe, sample], ignore_index=True)
    return dataframe

"""
extract from folder
"""

def extract(folder,column) -> pd.DataFrame:
    extracted_data = pd.DataFrame(columns = columns)
    #for csv files
    for csv_file in glob.glob(os.path.join(folder, "*.csv")):
        extracted_data = pd.concat([extracted_data, extract_from_csv(csv_file)], ignore_index=True)
    #for json files
    for json_file in glob.glob(os.path.join(folder, "*.json")):
        extracted_data = pd.concat([extracted_data, extract_from_json(json_file)], ignore_index=True)
    #for xml files
    for xml_file in glob.glob(os.path.join(folder, "*.xml")):
        extracted_data = pd.concat([extracted_data, extract_from_xml(xml_file)], ignore_index=True)
    return extracted_data

In [5]:

columns = ['car_model','year_of_manufacture','price', 'fuel']
data = extract(rawdata_path, columns)

NameError: name 'glob' is not defined

In [6]:
data

NameError: name 'data' is not defined

In [8]:
insert_to_table(data = data, conn_string = conn_string, table_name = 'extracted_cars')

NameError: name 'insert_to_table' is not defined

# T: Transformation data and save organized data to .parquet file

In [9]:
def transform(table_name):
    db = create_engine(conn_string)

    df = pd.read_sql_query(f'SELECT * FROM {table_name}',con=db)

    print(f"Shape of data {df.shape}")

    # truncate price
    df['price'] = round(df.price, 2)

    # remove samples with same car_model
    df = df.drop_duplicates(subset=['car_model'], keep='first')

    print(f"Shape of data {df.shape}")

    # write to parquet
    df.to_parquet(os.path.join(staging_data_dir, staging_file))

In [10]:
table_name = 'extracted_cars'
staging_file = 'car.parquet'
transform(table_name)

NameError: name 'create_engine' is not defined

# L: Loading data

In [11]:
def load(staging_data_dir) -> pd.DataFrame:
    data = pd.DataFrame()
    for parquet_file in glob.glob(os.path.join(staging_data_dir, "*.parquet")):
        data = pd.concat([pd.read_parquet(parquet_file),data])

    insert_to_table(data = data, conn_string = conn_string, table_name = 'ml_car_data')

    return data

data = load(staging_data_dir)
print(data.shape)

NameError: name 'glob' is not defined

In [12]:
data

NameError: name 'data' is not defined

# Check what table are in the database

In [12]:
query = """
    SELECT table_name
    FROM information_schema.tables
    WHERE table_schema = 'public';
    """

db = create_engine(conn_string)

pd.read_sql_query(query,con=db)

       table_name
0  extracted_cars
1     ml_car_data